.separator {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spacer {
    height: 700px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}
.animal-list {
    list-style-type: none;
    padding: 0;
}
.animal-list li {
    margin: 10px 0;
}
.animal-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.animal-list a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}